@import './colors';
@import './header';

.burger-menu {
  position: absolute;
  top: 70px;
  left: calc(50% - 250px);
  background-color: var(--background-color);
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 0 0 10px 10px;
  border: 0.5px solid black;
  z-index: 1;
}

@media (min-width: 769px) {

  .burger-menu {
    display: none;
  }

}

@media (max-width: 500px) {
  
  .burger-menu {
    left: 0;
  }

}

.burger-menu--invisible {
  display: none;
}

.burger-buttons__gallery-btn,
.burger-buttons__volume-btn,
.burger-buttons__home-btn {
  @include header-buttons();
}

.burger-buttons__gallery-btn--invisible,
.burger-buttons__volume-btn--invisible {
  opacity: 0;
  transition: 0.3s;
}

.burger-buttons__home-btn--inactive {
  cursor: not-allowed;
}