@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Slab:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto Slab', serif;
  background-size: cover;
  /* overflow-y: hidden; */
}

.body--unscrollable {
  overflow: hidden;
  position: relative;
}

.interlayer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 1;
}

.popup {
  z-index: 2;
  max-width: 600px;
  max-height: 300px;
  background-color: grey;
  border: 1px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  max-height: 80px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .94);
  
  img {
    width: 70px;
    height: 70px;
  }

  .header__home-btn {
    padding: 0;
    cursor: pointer;
    margin: 0;

    img {
      width: 50px;
      height: 50px;
    }

  }

}

.main {
  max-width: 1440px;
  width: 100vw;
  margin: auto;
  font-size: 20px;
  padding: 1%;
  /* flex-grow: 1; */
  
  .main__button {
    border-radius: 5px;
    display: block;
    margin: 20px auto 20px;
    font-size: 30px;
  }

  .main__start-button {
    font-family: 'Righteous', cursive;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: 80px;
  }

}

.main--active {
  background-color: rgba(255, 255, 255, .98);
}

.score {
  border-bottom: 1px solid black;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3%;
  margin-top: 20px;
  border-bottom: 1px solid black;

  .categories__item {
    text-transform: uppercase;
    text-align: center;
  }

  .categories__item--active {
    color: red;
    font-weight: bold;
  }

}

@media (max-width: 769px) {

  .categories {
    row-gap: 10px;
    flex-wrap: wrap;
  }

  .categories__item {
    flex-basis: calc(769px / 3);
  }
}

.question {
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  border-bottom: 1px solid black;
  gap: 5%;

  .question__img {
    width: 300px;
    height: 170px;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
  }

  .question__heading {
    border-bottom: 1px solid black;
  }

}

@media (max-width: 769px) {
  
  .question {
    flex-direction: column;
    align-items: center;
  }
}

.answers {
  border-bottom: 1px solid black;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 5%;
}

.answers-list {
  margin: 0;
  width: 40%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  .answers-list__item {
    border-bottom: 1px solid black;
    cursor: pointer;

    &::marker {
      color: grey;
      font-size: 30px;
    }

    &:hover {
      font-weight: bold;
    }

    &:last-child {
      border-bottom: none;
    }

  }

  .answers-list__item--correct {
    border-bottom: 1px solid black;
    cursor: pointer;
    color: green;
    font-weight: bold;
  
    &::marker {
      color: green;
      font-size: 30px;
    }
  
    &:hover {
      font-weight: bold;
    }
  
    &:last-child {
      border-bottom: none;
    }
    
  }
  
  .answers-list__item--wrong {
    border-bottom: 1px solid black;
    cursor: pointer;
    color: red;
  
    &::marker {
      color: red;
      font-size: 30px;
    }
  
    &:hover {
      font-weight: bold;
    }
  
    &:last-child {
      border-bottom: none;
    }
  
  }

}

@media (max-width: 1000px) {

  .answers {
    gap: 3%;
  }

  .answers-list {
    width: 50%;
  }

}

.description {
  font-size: 16px;
  width: 55%;
  gap: 2%;

  .description__cover {
    
    /* width: 40%; */
    height: 220px;
    width: auto;
    max-width: 160px;
    object-fit: cover;
    cursor: pointer;

    /* &:hover {
      transform: scale(2);
    } */
  }

  .description__heading {
    margin: 0;
  }

}

.description-container {
  display: flex;
  gap: 2%;
  margin-bottom: 10px;
  align-items: center;
}

@media (max-width: 769px) {
  
  .answers {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .answers-list {
    width: 100%;
  }

  .description {
    width: 100%;
  }

}

@media (max-width: 375px) {
  .description-container {
    flex-direction: column;
    row-gap: 20px;
  }
}

.footer {
  background-color: rgba(255, 255, 255, .94);
  max-width: 1440px;
  width: 100%;
  max-height: 80px;
  left: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .footer__rs-school  {
    width: 150px;
    height: 50px;
  }
  
  .footer__github {
    width: 70px;
    height: 70px;
  }

}

@media (max-width: 425px) {

  .footer {
    font-size: 16px;
  }

}