@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Slab:wght@400;700&display=swap');
@import './colors';
@import './header';
@import './homepage';
@import './quizpage';
@import './player';
@import './footer';
@import './popup';
@import './gallery';
@import './animations';


* {
  box-sizing: border-box;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto Slab', serif;
  background-size: cover;
  color: var(--white-smoke);
}

.body::-webkit-scrollbar {
  display: none;
}

.body--unscrollable {
  overflow: hidden;
  position: relative;
}