.burger-menu {
  position: absolute;
  top: 70px;
  left: calc(50% - 250px);
  background-color: var(--background-color);
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 0 0 10px 10px;
  border: 0.5px solid black;
  z-index: 1;

  @media (min-width: 769px) {
    display: none;
  }

  @media (max-width: 500px) {
    left: 0;
  }

}

.burger-menu--invisible {
  display: none;
}