:root {
  --background-color: hsl(268, 62%, 46%);
  --main-color: hsl(278, 51%, 59%);
  --secondary-color: hsl(263, 49%, 73%);
  --lime-green: hsl(120, 61%, 50%);
  --crimson: hsl(348, 83%, 47%);
  --white-smoke: hsl(0, 0%, 96%);
}
